/* main.css */

html, body, h1, h2, h3, h4, p, div {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	font-family: "helvetica neue", "HelveticaNeue-Light", "Helvetica Neue Light", helvetica, FreeSans, sans-serif;
	font-weight: 300;
	outline-style: none;
	outline-width: 0;
	line-height: 24px;
}
.social-media li a {
	padding: 5px 10px;
}

.social-slide {
	height: 40px;
	width: 40px;
	margin: 0px;
	border-radius: 6px;
	background-position: -4px -4px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-slide:hover {
	background-position: -4px -52px;
}
.linkedin-hover {
	background-image: url('images/linkedin-hover.png');
}
.facebook-hover {
	background-image: url('images/facebook-hover.png');
}
.instagram-hover {
	background-image: url('images/instagram-hover.png');
}
